* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F0E68C;
}

.react-logo {
    width: 300px;
    margin: 1rem;

}

.down {
    background-color: #FF7F00;
    width: 400px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin: 2rem;
    color: white;
}

.map {
    display: grid;
    grid-template-columns: auto auto;
}